@page
@model MealPrepService.Web.Pages.Admin.AdjustSubscriptionPricesModel
@{
    ViewData["Title"] = "AdjustSubscriptionPrices";
}

<h1>AdjustSubscriptionPrices</h1>

<!-- TODO: Add page content -->
