@page
@model MealPrepService.Web.Pages.Admin.DeleteStaffAccountConfirmedModel
@{
    ViewData["Title"] = "DeleteStaffAccountConfirmed";
}

<h1>DeleteStaffAccountConfirmed</h1>

<!-- TODO: Add page content -->
